.jg-page-container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

@media screen and (max-width: 1199px) {
    .jg-page-container {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .jg-page-container {
        width: 1200px;
    }
}

.jg-page-content {
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-right: auto;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .jg-page-content {
        width: 100%;
    }
}
@media screen and (min-width: 849px) {
    .jg-page-content {
        width: 790px;
    }
}

.jg-textarea {
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  font-family: inherit;
  resize: none;
}

.jg-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #d1d5db;
}

.jg-mb-1rem {
  margin-bottom: 1rem;
}

.jg-mt-1rem {
  margin-top: 1rem;
}

.jg-mt-2rem {
  margin-top: 2rem;
}

.jg-heading {
  margin-bottom: 0.5rem;
  font-size: 12px;
  font-weight: normal;
}

.jg-subheading {
  margin-bottom: 2.5rem;
  font-size: 14px;
  font-weight: normal;
}

.jg-submit-button {
  width: 100px;
  padding: 8px;
  border: 0;
  background-color: #d0d0d0;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px!important;
}

.jg-submit-button:hover {
  background-color: #e2e2e2;
}

.jg-response-data {
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  background-color: #f9f9f9;
  height: 200px;
  overflow-y: auto;
}

.jg-two-column-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.jg-column {
  box-sizing: border-box;
}

@media screen and (min-width: 1025px) {
  .jg-column-2-3 {
    width: 66.67%;
  }
}

@media screen and (min-width: 1025px) {
  .jg-column-1-3 {
    width: 33.33%;
  }
}

@media screen and (max-width: 1024px) {
  .jg-column-2-3,
  .jg-column-1-3 {
    width: 100%;
  }
}

.jg-page-heading {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.jg-under-construction {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  width: 160px;
}