:root {
  --dark-theme-primary-2: rgb(0, 105, 108);
  --dark-theme-primary-3: rgb(36, 216, 170);
  --dark-theme-primary-4: rgba(36, 216, 171, 0.15);

  --dark-theme-dark-2: rgb(0,3,27);
  --dark-theme-dark-3: rgb(0,4,39);

  --dark-theme-grey-100: rgb(100, 100, 100);
  --dark-theme-grey-111: rgb(111, 111, 111);
  --dark-theme-grey-122: rgb(122, 122, 122);
  --dark-theme-grey-131: rgb(131, 131, 131);
  --dark-theme-grey-180: rgb(180, 180, 180);
  --dark-theme-grey-136: rgb(136, 136, 136);
  --dark-theme-grey-141: rgb(141, 141, 141);
  --dark-theme-grey-170: rgb(170, 170, 170);
  --dark-theme-grey-187: rgb(187, 187, 187);
  --dark-theme-grey-190: rgb(190, 190, 190);
  --dark-theme-grey-221: rgb(221, 221, 221);
  --dark-theme-grey-220: rgb(220, 220, 220);
  --dark-theme-grey-230: rgb(230, 230, 230);
  --dark-theme-grey-240: rgb(240, 240, 240);

  --dark-theme-grey-1: rgb(209,213,219);

  --dark-theme-white: white;

  --dark-theme-font-size-minus-1: 10px;
  --dark-theme-font-size: 11px;

  --dark-theme-background: var(--dark-theme-dark-3);
}