*,
:after,
:before {
  box-sizing: inherit;
}

/*
 * Global
 */
html {
  overflow-y: scroll;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(241, 242, 242)
}

body {
  font-size: 13px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(241, 242, 242);
  line-height: 140%;
  font-family: Poppins, Arial, sans-serif;
  overflow: hidden;
  position: relative;
  margin: 0;
  color: black;
}

a {
  color: black;
  text-decoration: none
}

/*
 * Global (React)
 */
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgb(241, 242, 242)
}

/*
 * Global utility
 */
@media (min-width:1200px) {
  .content-width {
    width: 1180px
  }
}

@media (max-width:1199px) {
  .content-width {
    width: 100%
  }
}

.center-block-element {
  margin-left: auto;
  margin-right: auto
}

.default .mt-3 {
  margin-top: 12px;
}

.default .mt-8 {
  margin-top: 32px;
}

/*
 * Home page
 */
@media screen and (max-width: 480px) {
  .front-page .quotes {
    margin-top: 48px;
  }
}

@media screen and (max-width:1024px) and (min-width:481px) {
  .front-page .quotes {
    margin-top: 70px;
  }
}

@media screen and (min-width: 1025px) {
  .front-page .quotes {
    margin-top:78px;
  }
}

.front-page .quotes .quote .person {
  text-align: right
}

.front-page .quotes .quote .person {
  font-family: Arial, sans-serif
}

.secondary-font {
  font-family: Arial, sans-serif
}

.front-page .link:hover {
  opacity: 0.4
}

.front-page .quotes .quote .person a:hover {
  opacity: 0.4
}

.front-page .quotes .quote {
  padding-bottom: 64px
}

@media (min-width:821px) {
  .front-page .primary-content-container {
    width: 800px;
    margin-right: auto
  }
}

@media (max-width:820px) {
  .front-page .primary-content-container {
    width: 100%
  }
}

.front-page .primary-content-container {
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 56px
}

.front-page .name {
  line-height: 140%;
  font-weight: 700;
  text-transform: lowercase;
  border-bottom: 3px solid #000;
  padding-bottom: 8px;
  margin-bottom: 12px
}

@media screen and (min-width: 1024px) {
  .front-page .name {
    font-size: 54px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1023px) {
  .front-page .name {
    font-size: 54px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .front-page .name {
    font-size: 54px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 480px) {
  .front-page .name {
    font-size: 39px;
  }
}

.front-page .below-name {
  list-style: none;
  margin: 0;
  padding: 0 0 8px
}

.front-page .below-name>li {
  display: inline-block;
  margin-right: 12px
}

.front-page .below-name>.title {
  font-weight: 600
}

.front-page .short-description .bold {
  font-weight: 500
}

.front-page .short-description img {
  margin-left: 3px;
  height: 10px
}

.front-page .quotes .quote .content {
  font-weight: 600;
  margin-right: auto;
  line-height: 140%
}

@media (min-width:481px) {
  .front-page .quotes .quote .content {
    font-size: 22px;
    padding-right: 20%
  }
}

@media (max-width:480px) {
  .front-page .below-name {
    text-align: center;
    line-height: 1.8em;
  }

  .front-page .quotes .quote .content {
    font-size: 18px;
    padding-bottom: 8px
  }
}

.front-page .quotes .quote .content::before::before {
  content: '...';
  font-family: Arial, sans-serif
}

.front-page .quotes .quote .content::before {
  padding-left: 16px;
  content: '...';
  font-family: Arial, sans-serif
}

.front-page .link,
.front-page .quotes .quote .person a {
  color: #172bc6;
  text-decoration: underline
}

/*
 * Global - Primary navigation menu
 */

.header-menu-primary>ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  background-color: rgb(241, 242, 242);
}

.header-primary .mobile-menu-bar {
  display: none
}

@media (min-width:481px) {
  .header-primary .mobile-menu-bar {
    display: none
  }

  .header-menu-primary>ul {
    text-align: right;
    padding-right: 16px
  }

  .header-menu-primary>ul>li {
    display: inline-block
  }

  .header-menu-primary>ul>li>a {
    display: block;
    padding: 16px
  }
}

@media (max-width:480px) {
  .header-menu-primary>ul>li {
    text-align: center;
    line-height: 1.8em;
  }
}

@media (max-width:480px) {
  .header-primary .mobile-menu-bar {
    display: block;
    text-align: right
  }

  .header-menu-primary>ul {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 32px
  }
  .header-menu-primary>ul>li>a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px
  }
}

.default.header-primary > nav {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .default.header-primary {
    padding: 4px 12px 0px 12px;
  }

  .header-primary {
    min-height: 1.5em;
  }

  .default .header-menu-primary.hide{
    display: none;
  }

  .default #header-navigation {
    width: 100%;
    position: relative;
  }

  .default #menu-menu-1 {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    padding: 0;
    height: 100vh;
    background-color: white;
    opacity: 0.98;
  }

  .default #menu-menu-1 .menu-item {
    display: block;
    background-color:white;
    padding: 0; 
    text-align: center;
  }

  .default #menu-menu-1 .menu-item:hover {
    opacity: 1;
    background-color: rgb(233, 233, 233);
  }

  .default .jg-menu-icon::after {
    display: inline-block;
    content: "...";
    padding: 10px;
    cursor: pointer;
    font-size: 11px;
    font-family: monospace;
  }

  .default .jg-menu-icon:hover::after {
    opacity: 0.6;
  }
}

.header-menu-primary > ul >li {
  font-size: 13px
}

.header-menu-primary > ul >li:hover {
  opacity: 0.4
}

/*
 * Music page
 */

@media screen and (max-width: 580px) {
  .music-player .aux {
    display: none;
  }
}
.music-page .first-section {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (max-width: 550px) {
  .music-page .first-section {
    width: 100%;
    display: block;
  }
}

@media screen and (min-width: 551px) and (max-width: 1499px) {
  .music-page .first-section {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1500px) {
  .music-page .first-section {
    width: 500px;
  }
}

.music-player-current-track-name {
  padding: 12px;
  text-align: center;
  margin-top: 16px;
  font-weight: bold;
  font-size: 14px;
}

.music-player ul, .music-player li {
  margin: 0;
  padding: 0;
}

.music-player ul {
  list-style-type: none;
  border-radius: 15px;
}

.music-player li {
  padding: 10px;
  background-color: rgb(241, 243, 244);
  cursor: pointer;
}

.music-player li:hover {
  background-color: rgb(228, 228, 228);
}

.music-player {
  margin-top: 32px;
}

.music-player audio {
  border-radius: 0!important;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.default .mt-3 {
  margin-top: 12px;
}

.default .mt-8 {
  margin-top: 32px;
}

/*
** Compact list
*/
.default ul.compact-list,
.default .compact-list ul {
  padding-left: 8px;
  margin-left: 8px;
}

.default .compact-list li {
  padding-left: 0px;
}

/*
** Home page canvas
*/

.canvas {
  position: relative;
  height: 200px;
}

@media screen and (min-width: 1024px) {
  .canvas{
    height: 200px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1023px) {
  .canvas {
    right: 20vw;
    height: 200px;
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .canvas {
    right: 50vw;
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .canvas {
    right: 20vw;
    height: 80px;
  }
}

.canvas-inner-container {
  width: 100%;
  overflow: hidden;
}

.canvas-container{
  box-sizing: border-box;
  padding: 16px;
}